//
//  BASE_URL.xcconfig
//  MOGAK
//
//  Created by 안세훈 on 4/12/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

BASE_URL = http:/$()/mogak.shop:8080
TEST_URL = http:/$()/localhost:8080

